body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #222222;
    line-height: 1.2;
}

header {
    background-color: #205778;
    color: whitesmoke;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    color: #205778;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    color: #205778;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

form {
    width: 70%;
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    padding: 12px;
    font-size: 16px;
    background-color: #205778;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

p {
    text-align: center;
    color: #222222;
}
